<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux Porting</title>

    <link rel = "stylesheet" href="../../static/style.css"> 

</head>
<body>
    
    <h1> Embedded Linux Porting for Android Hardware</h1>

    <h2>Project status: Upcoming</h2>

    <p>This is one of my biggest upcoming projects. It builds on top of my previous project, <a href="repurposingMyOldPhone.html">Repurposing my Old Phone</a>. </p>

    <p> Repurposing my old phone was about getting an android device, unlocking it, and running mainstream linux on it. </p>

    <p> But the part I wasn't completely satisfied was the fact that I had to use an OS which was modified by someone else to work with my phone.</p>
    
    <p> So I decided to take it a step further and port linux to my phone myself. Even though my goal is to just run USB networking, wifi, and storage properly, this is still a very big project and will take a lot of time. I will be documenting the process here as I go along.</p>   
    
    <p>Thanks for checking in.</p>
</body>
</html>