<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunnyland</title>

   <link rel = "stylesheet" href="../../static/style.css"> 

</head>
<body>
<h1>Sunnyland</h1>

<p>Github: <a href="https://github.com/1SUSHANT1/Sunnyland">https://github.com/1SUSHANT1/Sunnyland</a></p>

<h2>Project Status: Functional product available. Abandoned.</h2>

<p>Sunnyland is a game that I made not so long ago. I made it using Unity and C#.
    I never could finish it tho. I was working on it for a while and I had gotten almost everything working.
    Lives, diamonds, carrots, enemies, spikes, player movements, different animations, and almost everything that consists a 2D Game.
    Few things that were missing were more levels, better UI, and a thorough debug of the code. I was working on it when my computer crashed.
    I did recover my files from the hard disk, but it never worked with unity again. I tried modifying files, getting help from google, youtube, books and did everything I could to get the unity environment working again but it never did. I concluded that the crash had corrupted the unity files.

</p><p>
    
    I do have the code still, which I will post below, and I can, if I want, implement the code, open up Unity, set everything up in unity and get it working again.
    But I have pretty much moved on from this project, because setting up Unity again is as much work as writing the scripts. A game is more about what people can see and interact with than what runs underneath it. Implementing a new environment to work with my old code is more work than creating the environment as coding, which is why even a small unforseen/sudden change is a huge deal in SDLC.
   
    <br> But who knows, maybe one day I will get back to it and finish it. I do have a playable version of the game, but it is not complete.

    <br>I could upload the apk file here, but it's incomplete, and your phone probably won't let you install it anyway.
</p>
<p>So, here is the video gameplay of the game. If I make any updates to the game, I will make the changes here.</p>

<br>
<video controls width="700">
        <source src ="../../Images/Sunnyland/sunnylandGameplay.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h2>Source Codes:</h2>

<p>The codes may have bugs, and inefficient implementations because I couldn't finish the project. Also the codes were recovered from the hard drive of a crashed computer so there is a chance that these are not even the latest versions of the codes I wrote.</p>

<ul>
     <li><a href="../../Scripts/Sunnyland/PlayerController.cs">PlayerController.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/CameraController.cs">CameraController.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/ForMenuScene.cs">ForMenuScene.cs</a></li>        
    <li><a href="../../Scripts/Sunnyland/Boxer.cs">Boxer.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/Chests.cs">Chests.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/Collectables.cs">Collectables.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/Eagle.cs">Eagle.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/EnemyDead.cs">EnemyDead.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/Froggy.cs">Froggy.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/MoveBackground.cs">MoveBackground.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/MovingPlatform.cs">MovingPlatform.cs</a></li>
    <li><a href="../../Scripts/Sunnyland/PossumWalk.cs">PossumWalk.cs</a></li>

</ul>





</body>
</html>