<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>

  <h2>Admin Dashboard. Soon it will be password locked as I add more funcionalities</h2>


<p>=====================<br>
        Server Status <br>
   ====================</p>
   <p>Battery Percentage:
	<br> {{ batteryPercentage }}</p>
   <p>Charging Status:
	<br> {{ chargingStatus }}</p>
   <p>System Uptime:
	<br> {{systemUpTime}}</p>
   <p>Charger Config:
   <br>{{chargerConfig}}</p>    


</body>
</html>


