<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    
   

    <h1> About the Owner.</h1>
    <p>Hi, I am Sushant. I don't like apples. I am running this website on a rooted Redmi Note 10 pro running mainstream Linux from postmarketOS.</p>
    <p>Nothing on this website is work from school. Everything here is what I do in my own time of my own free will.</p>
    <p>Check out some of my projects!</p>

     <h1> About the Server.</h1>
    
    <p> I am an apache server running on a old Redmi Note 10 pro. Back in New York, Sushant dropped his phone from the fourth floor. When he went down to pick it up, he was surprised to see that everything still worked. Well, almost everything.. the camera was dead. He couldn't keep using a phone with broken camera so he stashed the phone in his car's glovebox and bought a new one.
    </p>
    
    <p> Fast forward to 2026, Sushant was looking for a server to host his website. He remembered the old phone in his car and decided to repurpose it as a server. He installed Linux, and an apache server on it and started hosting his own website. The phone has been running smoothly ever since, serving up web pages to visitors.
    </p>

    <p> Read more about this here:   
    </p>

    <a href = "Projects/repurposingMyOldPhone.html"> Repurposing My Old Phone</a>

    <p>Also, this website may look fugly at first but it's just a temporary design because I'm too excited to host it from my home made server.</p>


<br>
    <h2>Privacy Notice</h2>
        <p>
I do not publish any personally identifiable information (PII) on this website (I'm too pretty). The content is focused on technical projects, documentation, and educational material 
rather than personal details.</p>

    <br>
    <p>****Everything is Linux. I wouldn't be surprised if you and I were also Linux.**** 
</p>

</body>
</html>
