<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushant Adk</title>
    <link rel="icon" href="../static/Images/favicon.ico">
</head>
<body>

<header> 
        <h1> Building, Securing, and Understanding Computer Systems</h1>
  
</header>

</p>

<a href ="aboutServer.html">About</a>

<h1>Projects</h1>

<p>View: <button id="sortProjects">Progression</button></p>



<style>
.project {
    margin-bottom: 20px;
}
</style>

<div id="projectList">

    <div class="project" data-progression="1" data-strength="3">
        <a href="Projects/repurposingMyOldPhone.html">
            Repurposing My Old Phone into an ARM Linux Web Server
        </a>
    </div>

    <div class="project" data-progression="2" data-strength="4">
        <a href="SupportingDocuments/fixingUSBChargingByEditingTheDeviceTree.html">
            Fixing USB Charging By Modifying Device Tree
        </a>
    </div>

<div class="project" data-progression="3" data-strength="5">
        <a href="SupportingDocuments/buildingAServer.html">
            Building an Always-On Web Server
        </a>
    </div>

    <div class="project" data-progression="4" data-strength="2">
        <a href="Projects/hardeningTheServer.html">
            Security Hardening and Assessment of a Self-Hosted ARM Alpine Linux Web Server
        </a>
    </div>

     <div class="project" data-progression="5" data-strength="1">
        <a href="Projects/buildingAHighAvailabilityServerCluster.html">
            Building a High-Availability (HA) Server Cluster
        </a>
    </div>

      <div class="project" data-progression="6" data-strength="7">
        <a href="Projects/numbersToWords.html">
            Numbers to Words Converter
        </a>
    </div>

    <div class="project" data-progression="7" data-strength="6">
        <a href="Projects/sunnyland.html">
            Sunnyland, Unity based 2D platformer
        </a>
    </div>

    
    <div class="project" data-progression="8" data-strength="8">
        <a href="Projects/homeLab.html">
            Home Lab
        </a>
    </div>

    <div class="project" data-progression="9" data-strength="9">
        <a href="Projects/embeddedLinuxPortingforAndroidHardware.html">
            Embedded Linux Porting for Android Hardware
        </a>
    </div>

    
    


   
  

</div>

<script>
const button = document.getElementById("sortProjects");
const projectList = document.getElementById("projectList");

let mode = "progression";

button.addEventListener("click", function () {

    mode = mode === "progression" ? "strength" : "progression";

    const projects = Array.from(projectList.children);

    projects.sort(function(a, b) {
        return Number(a.dataset[mode]) - Number(b.dataset[mode]);
    });

    projects.forEach(function(project) {
        projectList.appendChild(project);
    });

    button.textContent =
        mode === "progression"
        ? "Progression"
        : "Technical Strength";
});
</script>














<h1> Supporting Documents</h1>
<a href="SupportingDocuments/myWebsite.html"> Initial Configuration of my Website</a>
<br><br>
<a href="SupportingDocuments/domainRegistrationAndDNSConfiguration.html">Domain Registration, DNS and Security Configuration</a>
<br><br>

<a href="SupportingDocuments/mysweetserverInitialExternalAssessment.html" >Initial External Assessment of an Alpine Linux Server</a>
<br><br>



<h2>Admin Page</h2>
    <a href="admin/dashboard.html">Dashboard</a>
<br><br>
<p>Let me know something: 
    <br>
<input id="writeSomething">
<button onclick="registerTheInput()">Submit</button>

    



<script>

function registerTheInput(){

    let input = document.getElementById("writeSomething").value;

    fetch("/writeSomething",{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body: JSON.stringify({
                writeSomething: input
            })
            

    })
    document.getElementById("writeSomething").value="";

}


const box = document.getElementById("writeSomething");

box.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        registerTheInput();
    }
});

</script>


<br><br>
</p>
<footer>
    <p> &copy; 2026 Sushant's Website. All rights reserved.</p>
</footer>



</body>
</html>